h1{
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 30px;
    margin-bottom: 50px;
    
}
.main1 button{
    outline: none;
    background-color: #5783db;
    padding: 4px;
    border: 0px solid ;
    border-radius: 0px 5px 5px 0px;
    height: 32px;
    width: 50px;
}
.disp{
    border: 1px solid white;
    border-radius: 5px 0px 0px 5px;
    background-color: white;
    padding: 4px;
    width: 350px;
    height: 22px;
}
.disp::placeholder{
    text-align: center;
}
.main2{
    display: flex;
    justify-content: center;
    gap: 8px;
    margin: 20px;
}
.cursorMove{
    width: 80px;
}
.main2 label{
    font-size: 15px;
    color: white;
}
.main3{
    color: white;
    font-size: 15px;
    margin: 20px;
}